<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<!-- https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
    -->
    <body style="display: flex;
  flex-flow: column;
  height: 100%;">

<main class="container-fluid" style="flex: 1 1 auto;padding-top:20px;">
    <div id="week" class="mx-auto col-11">
        <div style="border:0px; height:100%; overflow: auto;">
  
      <span style="background-color:WhiteSmoke; display:block; height:100%; width:10%; float:left;box-shadow:inset 0px 0px 0px 1px LightGray;">
        <div class="weekly-col-label">h.mm</div>
        <div class="hour-container">
          <div class="hour">0.00</div>
          <div class="hour">1.00</div>
          <div class="hour">2.00</div>
          <div class="hour">3.00</div>
          <div class="hour">4.00</div>
          <div class="hour">5.00</div>
          <div class="hour">6.00</div>
          <div class="hour">7.00</div>
          <div class="hour">8.00</div>
          <div class="hour">9.00</div>
        </div>
  
      </span>
      <% Object.keys(events).forEach(function(day) { %>
        
        <span style="background-color:WhiteSmoke; display:block; height:100%; width:18%; float:left;box-shadow:inset 0px 0px 0px 1px LightGray;">
            <div class="weekly-col-label">
                <div>Floreal <%= day %></div>
            </div>
        <div class="week_day">
            <!-- https://stackoverflow.com/questions/3727045/set-variable-in-jinja -->
            
            <% events[day].forEach(function(event) { %>
                    <div class="event_object">
                        <div class="event_header"><%= event.start_republic_hour %>.<%= event.start_republic_minute %></div>
                        <div class="event_content"><%= event.title %></div>
                        </div>
        <% }); %>
                </div>
                </span>
      <% }); %>
</div></div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>